*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
}


.nav{
  height: 91px;
  width: 550px;
  background-color: #21222A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-inline: 10px;

}

.logo{
  color: #00D8FF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
}
.img-logo{
  width: 50px;
  height: 50px;
  animation: mymove 4s infinite linear;
}




@keyframes mymove {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(-360deg);

  }
}
.nav-items{
  list-style:  none;
  color: #fff;
  display: flex;
  justify-content: space-around;
  width: 50%;
  cursor: pointer;
  
}
.nav-items>li:hover{
  color: #00D8FF;
}

/* main  */


.main{
  width: 550px;
  height: 459px;
  margin: 0 auto;
  color: #ffff;
  background-color: #282D35;
  background-image: url(./Asset/react.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y:75% ;

  
  padding:84px ;
  

  
}

.main>h2{
  font-size: 2.3rem;

}
.main>ul{
  margin-left: 30px;
  margin-top:20px;
  
}
.main>ul>li{
  margin-block:10px ;
  font-size: 1.1rem;
}
.main>ul>li::marker{
   color: #00D8FF;
   font-size: 1.5rem;
}
  
