*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  width: 100vw;
  height: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav>img{
  width: 130px;
}

.hero{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
 flex-wrap: wrap;
  margin-block: 15px;


}
.hero>img{
 width: 40%;
  align-self:center;
}
.hero>div{
  width: 50%;
}
.hero>div>h1{

  font-size: 2.5rem;
}
.hero>div>p{

  font-size: 2rem;
}
