*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  width: 100vw;
  height: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav>img{
  width: 130px;
}